.room-item {
  display: flex;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
}

.room-item + .room-item {
  margin-top: 5px;
}

.room-item__name {
  width: 100%;
}

.room-item__delete-btn {
  background-color: unset;
  color: red;
}

.room-item__selected {
  background: var(--primary-color);
  border-radius: var(--border-radius);
}
