.rooms {

  display: flex;
  gap: 10px;
  flex-direction: column;
  .user {
    animation: slideDown 500ms ease forwards;
  }

  > div {
    margin-top: 10px;
    overflow-y: auto;
    height: 100%;
  }

  div > ul {
    list-style: none;
    padding: 0;
  }

  .room + .room {
    margin-top: 10px;
  }
}

.rooms__select {
  display: flex;
  align-items: center;
  gap: 10px;

  select {
    width: 100%;
  }
}

