@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: silver;
  --spacing-header: 60px;
  --spacing-messageForm: 60px;
  --font-sans: "Quicksand", sans-serif;

  @keyframes slideDown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: white;
  color: #0f172a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

button {
  @apply inline-flex items-center justify-center px-3 py-2 rounded-lg bg-primary text-slate-900 cursor-pointer transition font-medium shadow-sm text-sm border-slate-200;
}

button + button {
  @apply ml-1.5;
}

input {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary/70;
}

select {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-primary/70;
}
