.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slideDown 500ms ease forwards;
  padding: 10px 5px;
}

.message + .message {
  border-top: 1px solid var(--primary-color);
}

.message__date {
  background: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 5px;
}
