.message {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  animation: slideDown 500ms ease forwards;
}

.message + .message {
  margin-top: 10px;
  border-top: 1px solid black;
}
